/* LAYOUT & COMMON MARKUP ===================================== */
body {
	width: 90%;
	min-width: 1184px;
	margin: 20px auto;
	font: 62.5%/1.0 Helvetica, Arial, Verdana, sans-serif;
	background: #eee8f0 url(bg.png) fixed no-repeat;
}

#header,
#menu,
#main {
	margin-bottom: 10px;
	overflow: hidden;
	clear: both;
	background: rgba(255,255,255,0.85);
	background: white\9; /* IE8 hack */
	box-shadow: rgba(0,0,0,0.4) 0.15em 0.15em 0.15em 0.10em;
	border: 1px solid #aaa;
}


/* MARKUP GENERAL ELEMENTS ==================================== */
em { font-style: italic; }
strong { font-weight: bold; }
sup { font-size: 75%; vertical-align: super; }
sub { font-size: 75%; vertical-align: sub; }

h1 {
	font-size: 2.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 0.5em;
	border-bottom: 1px solid #333; }

h2 {
	font-size: 1.8em;
	font-style: italic;
	margin: 1.2em 0 0.5em 0;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0.3em 0;
}

hr {
	margin: 1.5em 0;
	clear: both;
}

a {
	color: #009ebd;
	text-decoration: none;
}

a:hover {
	color: #61265c;
	text-decoration: underline;
	cursor: pointer;
}

p {
	font-size: 150%;
	margin: 0.5em 0;
}

select {
	font-weight: bold;
	border: 1px solid #ccc;
	background: none;
	vertical-align: middle;
}

input[type=file] {
	font-size: 1em;
	padding: 5px 20px;
}

input[type=button],
input[type=submit] {
	background: #5b266f;
	color: #fff;
	font-size: 1em;
	padding: 5px 20px;
	border: 3px outset #ccc;
}

input[type=button]:hover,
input[type=submit]:hover {
	background: #c086d6;
	cursor: pointer;
}

input[type=button]:active,
input[type=submit]:active {
	border: 3px inset #ccc;
}

table {
	width: 100%;
	font-size: 2.0em;
	line-height: 1.35em;
	margin: 0;
}

table select {
	font-size: 100%;
	font-weight: bold;
	background: #fff;
}

table th {
	text-align: left;
	padding: 0.5em 0;
	vertical-align: middle;
	font-size: 1.1em;
	font-weight: bold;
}

table td {
	border-top: 1px solid #ccc;
	padding: 9px 5px 9px 5px;
	vertical-align: top;
}

table tr td:first-child { font-weight: bold; }

table tr:last-child td { border-bottom: 1px solid #999; }



/* COLOR DEFINITIONS ========================================== */
.empt { color: #333; background-color: #e0e0e0; border: #e0e0e0 solid 2px; } /* unsaved */
.done { color: #eee; background-color: #7fbe20; border: #7fbe20 solid 2px; } /* finalized */
.need { color: #eee; background-color: #03a0e1; border: #03a0e1 solid 2px; } /* in progress */
.updt { color: #eee; background-color: #d61d24; border: #d61d24 solid 2px; } /* server update */

/* STATUS DEFINIONS =========================================== */
.flag { background-image: url('icons/flag.png'); background-position: bottom right; background-repeat: no-repeat; background-size: 27px; }
.lock { border: #000 solid 2px; }

/* HEADER ===================================================== */
#header {
	font-size: 240%;
	font-weight: bold;
	padding: 0.6em;
}

#header img {
	vertical-align: middle;
	margin-right: 0.5em;
}

#header select {
	font-size: 100%;
}

#header .infobox {
	float: right;
	font-size: 60%;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0.5em 0.5em 0.5em 1.5em;
}

#header .infobox img {
	height: 0.9em;
	vertical-align: baseline;
}

/* MENU BAR =================================================== */
#menu {
	overflow: visible;
	background: #333;
	font-size: 180%;
	text-align: center;
}

#menu li {
	display: inline-block;
	margin: 0 10px -12px 0;
	background: url(bg.png) fixed no-repeat #eee8f0;
}

#menu a {
	display: block;
	padding: 12px 30px;
	background: #333;
	color: #fff;
}

#menu a.select {
	background: rgba(255,255,255,0.85);
	background: white\9; /* IE8 hack */
	color: #000;
	border-bottom: 12px solid #333;
}

#menu a:hover {
	background: rgba(255,255,255,0.85);
	background: white\9; /* IE8 hack */
	color: #000;
	border-bottom: 12px solid #b9a4c2;
	text-decoration: none;
}

/* MAIN ELEMENTS ============================================== */
#main {
	padding: 1.5em 1.5em 5em 1.5em;
}

/* Exam legend */
.examlegend li {
	font-size: 1.3em;
	display: inline-block;
	padding: 1em 2.5em 1em 0;
}

.examlegend li div {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	height: 1.5em;
	width: 1.5em;
	padding-right: 0;
}

/* 'Exam overview' */
.exambox a {
	float: left;
	display: block;
	width: 2.25em;
	padding: 6px 16px 32px 6px;
	margin: 0 0.7em 0.7em 0;
	font-size: 1.3em;
	text-decoration: none;
}

.exambox a:hover {
	color: #eee;
	background: #777;
	text-decoration: none;
	border: 2px solid #777;
}

.examinfo {
	clear: both;
	font-size: 1.1em;
	line-height: 1.4em;
}

/* 'Exam detail' */
.overviewbox {
	max-width: 1393px;
}

.questionbox {
	display: inline-block;
	vertical-align: top;
	position: relative;
	background: rgba(255,255,255,0.85);
	border: 1px solid #999;
	width: 256px;
	padding: 0 0 38px 0;
	margin: 0 15px 20px 0;
}

.questionbox > a { /* excerpt */
	color: #000;
	display: block;
	line-height: 1.2em;
	font-size: 150%;
	padding: 0.75em 0.5em;
	min-height: 95px;
}

.questionbox > a:hover {
	cursor: pointer;
	background: none;
	color: #000;
	text-decoration: none;
}

.questionbox div { /* button row */
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #999;
	background: #e0e0e0;
}

/*.questionbox div a {
	float: none;
	display: inline-block;
	margin: 0;
	padding: 10px 0 2px 3px;
	width: 3em;
	font-size: 1.3em;
} */

.questionbox div a:first-child {
	font-size: 1.75em;
	width: 2em;
	height: 22px;
	display: inline-block;
	text-align: center;
	padding: 9px 3px 3px 0;
	margin: 0 115px 0 0;
}

.questionbox div a:hover {
	background: #999;
	color: #000;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid #999;
}

.questionbox div a.flag {
	background-image: none;
}

.questionbox div img {
	vertical-align: middle;
	height: 30px;
	margin: -6px 6px 3px 6px;
}

.questionbox div input {
	margin: 12px 15px 11px 15px;
	padding: 0;
}

/* 'Question page' */

/* Navigation bar */
.questionnavlist {
	margin: -1.5em -1.5em 0 -1.5em;
}

.questionnavlist .inner {
	padding: 0.3em;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.questionnavlist a {
	display: inline-block;
	width: 2em;
	padding: 6px 17px 29px 5px;
	margin: 0.25em;
	font-size: 1.3em;
	text-decoration: none;
}

.questionnavlist a:hover {
	color: #eee;
	background: #777;
	text-decoration: none;
	border: 2px solid #777;
}

.questionnavlist a.sel {
	font-weight: bold;
	background: #fff;
	border: 2px solid #ccc;
	color: #000;
}

/* Translation boxes */
.translationtable th {
	border-top: 1px solid #ccc; 
	background: #e0e0e0;
	padding: 10px 5px 5px 5px;
}

.translationtable img {
	padding: 0;
	width: 25%;
	transition: all 200ms ease;
}

.translationtable img.large {
	width: 100%;
	transition: all 200ms ease;
}

.translationtable img:hover {
	cursor: pointer;
}

.translationtable td div img {
	width: 100%;
}
.translationtable td div img:hover {
	cursor: default;
}

.translationtable input[type=text] {
	width: 100%;
	font-size: 100%;
	margin: -3px;
}
.translationtable tr td:last-child { width: 47.4%; }

.translationtable textarea { width: 100%; }

.translationtable textarea + div { margin: -6px 0; }

.translationtable textarea + div iframe { max-width: 100%; }

/* Info/buttons bar for translation screen */
.infobarbig {
	position: fixed;
	width: 90%;
	min-width: 1184px;
	bottom: 0;
	z-index: 9999;
	text-align: center;
	margin: 0 -1.0em;
	font-size: 1.5em;
	background: #333;
	box-shadow: rgba(0,0,0,0.4) 0.15em 0.15em 0.15em 0.10em;
	border: 1px solid #aaa;
	color: #fff;
}

.infobarbig a {
	color: #fff;
	display: inline-block;
	width: 60px;
	margin: 0 10px;
	padding: 5px;
}

.infobarbig a:hover {
	background: #ccc;
	color: #000;
	text-decoration: none;
}

.infobarbig img {
	vertical-align: middle;
	padding: 1px;
}

.infobarbig input {
	display: none;
}
.infobarbig label {
	display: inline-block;
	cursor: pointer;
	height: 60px;
	width: 60px;
	padding: 0 5px;
	vertical-align: middle;
	margin: 0 10px;
}
.infobarbig #id_flag + label {
	background: url('icons/flag.png') no-repeat center;	
}
.infobarbig #id_checkout + label {
	background: url('icons/unlocked.png') no-repeat center;
}
.infobarbig #id_flag + label:hover,
.infobarbig #id_checkout + label:hover  {
	background-color: #ccc;
}
.infobarbig #id_flag:checked + label {
	background: #eabf03 url('icons/flag.png') no-repeat center;
}
.infobarbig #id_checkout:checked + label {
	background: #7fbe20 url('icons/locked.png') no-repeat center;
}


.rating {
	display: inline;
	vertical-align: middle;
}
.rating label {
	padding: 0;
}

.rating:not(:checked) > input {
    display: none;
}

.rating:not(:checked) > label {
    float: right;
    margin: 0.25em;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: 1px solid #aaa;
    background: #fff;
}

.rating:not(:checked) > label:before {
    content: '\A0';
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    background: #5b266f;
}

/* Settings page */
/* NO LONGER USED
.permissionslist table td { padding: 5px; font-size: 130%; }
.permissionslist label { padding: 10px; }
.permissionslist img {
	height: 15px;
	margin-right: 10px;
} */


/* Voting page */
.proposal {
	font-size: 3em;
	font-weight: bold;
	margin-bottom: 1em;
}

.proposal span {
	font-weight: normal;
}

.voteresults li {
	font-size: 2em;
	width: 200px;
	display: inline-block;
	padding: 20px 0;
}

.voteoptions li {
	display: inline-block;
	font-size: 2.5em;
	margin-right: 4em
}

.voteoverview td:first-child {
	font-weight: normal;
}

.voteoverview input {
	display: none;
}

.voteoverview label {
	display: inline-block;
	width: 120px;
	height: 40px;
	background: #ccc;
	text-align: center;
	padding: 30px 2px;
	margin: 5px 2px 0 0;
	border: 2px solid #999;
	font-size: 1.75em;
	vertical-align: top;
}

.voteoverview input:checked + label.yes {
	background: #7fbe20;
}

.voteoverview input:checked + label.no {
	background: #d61d24;
}

.voteoverview input:checked + label.abstain {
	background: #555;
}

.voteoptions label {
	width: 100px;
	background: #ccc;
	display: block;
	text-align: center;
	padding: 20px 0;
	border: 2px solid #999;
}

.voteoptions input {
	display: none;
}

.voteoptions input:checked + label {
	background: #7fbe20;
}

