
body {
    margin-left: 5em;
}

li.qli {
    border: 1px solid black;
    width: 20em
}

input.short {
    width:3em;
}

del {
    color:#F00;
    font-weight:bold;
}

ins {
    color:#00F;
    font-weight:bold;
    text-decoration:none;
}

ol {
	list-style-type: upper-latin;
}

