<!doctype html>
{% load ibotags %}
<html lang="en-GB">
<head>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0">
<title>File not found</title>
<link href="/static/reset.css" rel="stylesheet" type="text/css">
<link href="/static/students.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="header">
</div>

<div id="main">
<p>Oops, that url doesn't exist. What are you looking for?</p>
</div>

<div id="footer">
</div>


</body>
</html>

