<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title>File not found</title>
<link href="/static/reset.css" rel="stylesheet" type="text/css">
<style>
body { width: 600px; margin: 100px auto; text-align: center; font-family: sans-serif; font-size: 20px; line-height: 1.4em; }
img { margin: 25px; }
p { margin: 25px 0; }
strong { font-weight: bold; }
</style>
</head>
<body>

<img src="/static/icons/IBO2013.png">

<p>Oops, that file doesn't exist.</p>

<p>If you encounter this page and you suspect something is wrong,<br>please talk to the coordinators.</p>

</body>
</html>

