<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title>{% block title %}IBO Translation Interface{% endblock %}</title>
<!--<link href="/static/reset.css" rel="stylesheet" type="text/css">-->
<script src="/static/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="/static/staff.css" rel="stylesheet" type="text/css">
<script src="/static/jury.js" type="text/javascript"></script>
{% block scripts %}
{% endblock %}
</head>
<body>

{% block main %}
[MAIN BLOCK]
{% endblock %}
</div>
&copy; 2013 - ibo|suisse
</body>
</html>
