{% extends "jury_base.html" %}

{% block lead %}Exam Translation | {{exam.name}}{% endblock %}
{% block menu %}
<ul>
    <li><a href="/jury/{{lang_id}}/overview/">Overview</a></li>
    {% for e in exams %}
    <li><a href="/jury/{{lang_id}}/exam/{{e.id}}/" {% if e.id == exam.id %}class="select"{% endif %}>{{e.name}}</a></li>
    {% endfor %}
    <li><a href="/jury/{{lang_id}}/">Profile</a></li>
    <li><a href="/jury/{{lang_id}}/students/">Students</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="overviewbox">
{% for o in categories %}
    <h2>{{o.cat.text}}</h2>
    <p><a onclick="SelectAllToggle()">(De)select all questions</a> | <a onclick="DownloadPDF()">Download PDF of selected questions</a></p>

    {% for q in o.questions %}
    <div class="questionbox">
        <div>
            <a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate" class="{{q.status}}">{{q.target.position}}</a>
            <a href="#"><img src="/static/icons/flagdark.png" title="Flag" alt="flag"></a>
            <input type="checkbox" name="pdfselect" value="{{q.target.position}}">
        </div>
        <a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate">{{q.preview}}</a>
    </div>

    {% endfor %}
{% endfor %}    

</div>
    
<br style="clear: both">

<ul style="font-size: 1.5em; line-height: 1.5em;">
    <li><strong>Translation:</strong> 25% done</li>
    <li><strong>Last server update:</strong> 2013-07-13 01:20</li>
</ul>
{% endblock %}
