{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}Students{% endblock %}
{% block menu %}
<ul>
        <li><a href="/jury/{{language.id}}/">Profile</a></li>
        {% for e in exams %}
        <li><a href="/jury/{{language.id}}/exam/{{e.id}}">{{e.name}}</a></li>
        {% endfor %}
        <li><a href="/jury/{{language.id}}/theory/" class="select">Results Theory</a></li>
        <li><a href="/jury/{{language.id}}/practical/">Results Practical</a></li>
</ul>
{% endblock %}

{% block main %}

<!--<h1>Assign exam</h1>
<p>Chose a default exam for each student</p>
<table style="width: 800px">
{# for s in students #}
<tr>
<td>{#{{s.name}}#}</td>
<td>{{lang_picker.language}}</td>
<td>
</tr>
{# endfor #}
</table>

<p><input type="button" value="Save"></p>
-->
{% if final %}
<p style="color:green;font-size=150%;">All your work has been finalized and languages have been assigned to your students. That's it, you're done for today! But before you run out, make sure to check one last time that everything is displaying okay for the students.</p>
{% else %}
<p>Hold down ctrl and click to select multiple languages</p>
<form action="" method="post">
    {{form.exam_languages}}
    <p style="color:red;size:150%">
    {{form.exam_languages.errors}}</p>
    
    {%if comeon %}
    <p style="color:red;size:150%">All languages chosen must be finalized! Please finalize the following languages: {{comeon}}</p>
    {% endif %}
    <input type="submit" name="submit" value="set languages" />
<br style="clear: both;">
<p font-size="150%">
 Please choose the languages you want your students to be able to see. Below you can see exactly what they will see in the exam. We will not double-check this, so it is your responsibility to check that every question is displaying as it is supposed to before you click finalize!!!
</p>
<input type="submit" name="finalize" value="Finalize exams" onclick="return confirm('Are you absolutely sure you want to finalize? No further modifications will be allowed after finalizing. If yes, click \'OK\', if not, click \'Cancel\'');" />
</form>
{% endif %}
<br><br>
<h1>Exam preview (Part 1)</h1>

<iframe src="/students/{{lang_id}}/overview/3/" style="width: 1280px; height: 752px; border: 8px outset #ccc; overflow: hidden;">
</iframe>

<br><br>
<h1>Exam preview (Part 2)</h1>

<iframe src="/students/{{lang_id}}/overview/4/" style="width: 1280px; height: 752px; border: 8px outset #ccc; overflow: hidden;">
</iframe>

{% endblock %}
