{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}Students{% endblock %}
{% block menu %}
<ul>
        <li><a href="/jury/{{lang_id}}/">Profile</a></li>
        {% for e in exams %}
        <li><a href="/jury/{{lang_id}}/exam/{{e.id}}">{{e.name}}</a></li>
        {% endfor %}
        <li><a href="/jury/{{lang_id}}/theory/" class="select">Results Theory</a></li>
        <li><a href="/jury/{{lang_id}}/practical/">Results Practical</a></li>
</ul>
{% endblock %}

{% block main %}
<form method="POST" action=".">
    <select name="uid">
    {% for s in students %}
        <option value="{{s.user_id}}">{{s.user.first_name}} {{s.user.last_name}}</option>
    {% endfor %}
    </select>
    <input type="submit" name="submit" value="submit" />
</form>
{% if ae %}
    AE
{% endif %}
{% include "theoryresult_include.html" %}
{% endblock %}
