{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}
{% block lead %}Practical exams{% endblock %}
{% block menu %}
	<ul>
		<li><a href="/jury/{{language.id}}/">Profile</a></li>
		<li><a href="/jury/{{language.id}}/practical/" class="select">Practical exams</a></li>
	</ul>
{% endblock %}

{% block main %}

<h1>Translation</h1>
<p>(<em>uploading is only available for admins</em>)</p>
<table>
<tr>
<th colspan="2">Exam</th><th>Official versions</th><th>Translated versions</th><th>Upload</th>
</tr>

{# for e in practicalexams #}
<tr>
<td>Part 1 - Ecology{# {{e.name}} #}</td><td>Question sheets</td>

<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<em>No version uploaded yet</em>
</td>
<td><form method="POST" action="">
<input type="file" name="p1q" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
<tr>
<td style="border-top: 0;"></td>
<td>Answer sheets</td>
</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<a href="#">See latest version</a> (2013-07-14 12:22)
</td>
<td><form method="POST" action="">
<input type="file" name="p1a" value="Choose file">
<input type="submit" value="Upload">
</form>
</tr>
<tr>
<td>Part 2 - Bioinformatics</td><td>Question sheets</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<em>No version uploaded yet</em>
</td>
<td><form method="POST" action="">
<input type="file" name="p2q" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
<tr>
<td style="border-top: 0;"></td>
<td>Answer sheets</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<a href="#">See latest version</a> (2013-07-14 17:55)
</td>
<td><form method="POST" action="">
<input type="file" name="p2a" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
<tr>
<td>Part 3 - Microbiology</td><td>Question sheets</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<a href="#">See latest version</a> (2013-07-14 20:45)
</td>
<td><form method="POST" action="">
<input type="file" name="p3q" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
<tr>
<td style="border-top: 0;"></td>
<td>Answer sheets</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<a href="#">See latest version</a> (2013-07-14 21:33)
</td>
<td><form method="POST" action="">
<input type="file" name="p3a" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
<tr>
<td>Part 4 - Plantphysiology</td><td>Question sheets</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<a href="#">See latest version</a> (2013-07-14 23:01)
</td>
<td><form method="POST" action="">
<input type="file" name="p4q" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
<tr>
<td style="border-top: 0;"></td>
<td>Answer sheets</td>
<td>
<a href="#"><strong>Official (EN)</strong></a> (2013-07-14 12:22)<br>
<a href="#"><strong>Official (RU)</strong></a> (2013-07-14 12:45)
</td>
<td>
<a href="#">See latest version</a> (2013-07-15 0:19)
</td>
<td><form method="POST" action="">
<input type="file" name="p4a" value="Choose file">
<input type="submit" value="Upload">
</form>
</td>
</tr>
</table>

{% if 'admin' in perms %}
<h1>Assign exams</h1>
<p>(<em>this option is only available for delegation leaders</em>)</p>
<p>Chose a default exam for each student (only exams which have been finalized can be chosen, see <a href="jurysettings.html">Profile</a>).</p>
<br>
<table style="width: 600px">
<tr>
<td>Francesca VAN TARTWIJK</td>
<td>
<select>
	<option value="IBOENG" selected="selected">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
	<option value="NLDBEL">Nederlands</option>
	<option value="" disabled="disabled"></option>
	<option value="BELFRA">Français</option>
	<option value="GREECE">Ελληνικά</option>
	<option value="GEORGIA">ქართული ენა</option>
	<option value="THAI">ภาษาไทย</option>
	<option value="SIGN">American Sign Language</option>
	<option value="KLINGON">tlhIngan Hol</option>
	<option value="QUENYA">Quenya</option>
	<option value="MANYMORE">... and many more</option>
</select>
</td>
</tr><tr>
<td>Rik VAN DER STELT</td>
<td>
<select>
	<option value="IBOENG" selected="selected">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
	<option value="NLDBEL">Nederlands</option>
	<option value="" disabled="disabled"></option>
	<option value="BELFRA">Français</option>
	<option value="GREECE">Ελληνικά</option>
	<option value="GEORGIA">ქართული ენა</option>
	<option value="THAI">ภาษาไทย</option>
	<option value="SIGN">American Sign Language</option>
	<option value="KLINGON">tlhIngan Hol</option>
	<option value="QUENYA">Quenya</option>
	<option value="MANYMORE">... and many more</option>
</select>
</td>
</tr><tr>
<td>Sfia BEARZATTO</td>
<td>
<select>
	<option value="IBOENG" selected="selected">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
	<option value="NLDBEL">Nederlands</option>
	<option value="" disabled="disabled"></option>
	<option value="BELFRA">Français</option>
	<option value="GREECE">Ελληνικά</option>
	<option value="GEORGIA">ქართული ენა</option>
	<option value="THAI">ภาษาไทย</option>
	<option value="SIGN">American Sign Language</option>
	<option value="KLINGON">tlhIngan Hol</option>
	<option value="QUENYA">Quenya</option>
	<option value="MANYMORE">... and many more</option>
</select>
</td>
</tr><tr>
<td>Fenne DIJKEMA</td>
<td>
<select>
	<option value="IBOENG" selected="selected">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
	<option value="NLDBEL">Nederlands</option>
	<option value="" disabled="disabled"></option>
	<option value="BELFRA">Français</option>
	<option value="GREECE">Ελληνικά</option>
	<option value="GEORGIA">ქართული ენა</option>
	<option value="THAI">ภาษาไทย</option>
	<option value="SIGN">American Sign Language</option>
	<option value="KLINGON">tlhIngan Hol</option>
	<option value="QUENYA">Quenya</option>
	<option value="MANYMORE">... and many more</option>
</select>
</td>
</tr><tr>
</table>

<p><input type="button" value="Save"></p>

{% endif %}


{% endblock %}