{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}Students{% endblock %}
{% block menu %}
<ul>
	<li><a href="/jury/{{lang_id}}/overview/" >Overview</a></li>
	{% for e in exams %}
	<li><a href="/jury/{{lang_id}}/exam/{{e.id}}">{{e.name}}</a></li>
	{% endfor %}
	<li><a href="/jury/{{lang_id}}/">Profile</a></li>
	<li><a href="/jury/{{lang_id}}/students/" class="select">Students</a></li>
	<li><a href="/jury/{{lang_id}}/vote/">Vote</a></li>
</ul>
{% endblock %}

{% block main %}

<!--<h1>Assign exam</h1>
<p>Chose a default exam for each student</p>
<table style="width: 800px">
{# for s in students #}
<tr>
<td>{#{{s.name}}#}</td>
<td>{{lang_picker.language}}</td>
<td>
</tr>
{# endfor #}
</table>

<p><input type="button" value="Save"></p>
-->
<br style="clear: both;">

<br><br>
<h1>Exam preview (Part 1)</h1>

<iframe src="/students/{{lang_id}}/overview/3/" style="width: 1280px; height: 752px; border: 8px outset #ccc; overflow: hidden;">
</iframe>

<br><br>
<h1>Exam preview (Part 2)</h1>

<iframe src="/students/{{lang_id}}/overview/4/" style="width: 1280px; height: 752px; border: 8px outset #ccc; overflow: hidden;">
</iframe>

{% endblock %}
