{% extends "jury_examview.html" %}

{% block examlegend %}{% endblock %}

{% block content %}
<div class="questionnavlist">
<div class="inner">
{% for q in status %}
<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/" class="{{q.status}}">{{q.primary.position}}</a>
{% endfor %}
</div>
</div>

<br style="clear: both;">

<div class="infobarbig">
	<strong>Difficulty:</strong>
	Too easy
	<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
	</fieldset>
	Too hard
	<div style="width: 125px; display: inline-block"></div>
	{# TODO: make link to previous and next questions #}
	<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/"><img src="/static/icons/prev.png" title="Goto previous" alt="previous"></a>
	<input type="checkbox" id="id_flag" name="flag" value="" /><label for="id_flag" title="Flag for attention"></label>
	<input type="checkbox" id="id_checkout" name="checkout" value="" /><label for="id_checkout" title="Check-out as final"></label>
	{% if 'admin' in perms or 'write' in perms %}
	<a href="#"><img src="/static/icons/save_old.png" title="Save" alt="save" onclick="document.getElementById('submitter').click();"></a>
	<a href="#"><img src="/static/icons/savenext_old.png" title="Save and next" alt="savenext"></a>
	{% endif %}
	<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/"><img src="/static/icons/next.png" title="Goto next" alt="next"></a>
</div>

<h1>Question {{pos}} : {{question.name}}</h1>

<form action="" method="post" id="questionform">
<table class="translationtable">

<tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px; border-bottom: 1px solid #999">Translation</td></tr>

<tr><th></th><th> {# TODO: id's -> timestamps? #}
Original version (ID = {{versions.orig}})
<select> {# TODO: Make this into Django -- toggle between two official translations #}
	<option value="IBOENG">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
</select>
</th><th style="width: 5%"><a onclick="CopyContentAll()"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContentAll()"><img src="/static/icons/empty.png" style="width: 30px;"></a>
</td></th><th>
Translated version (ID = {{versions.trans}})
<select> {# TODO: Make this into Django -- latest x versions #}
	<option value="434">2013-07-15 14:55.18 (latest)</option>
	<option value="433">2013-07-15 14:50.59</option>
	<option value="432">2013-07-15 12:11.43</option>
</select>
<a href="#">Restore this version</a>
</th></tr>

{% for q in struct %}
  {% for el in q.data %}
  
    {% if el.tag == "text" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Question text</td></tr>
    <tr><!-- the question text -->
        <td></td>
        <td id="otx-{{el.id}}">
        {{el.data}}
        </td>
        <td>
        	<a onclick="CopyContent('otx-{{el.id}}','ttx-{{el.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a>
        	<a onclick="ClearContent('ttx-{{el.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
        </td>
        <td>
        <div id="otxi">{# if there is an image uploaded, show this e.g. <img src="/static/images/img.jpg"> #}</div>
        <textarea name="ttx-{{el.id}}" id="ttx-{{el.id}}" class="ckeditor">{{el.form}}</textarea>
        </td>
	</tr>
    {% endif %}
    
    {% if el.tag == "task" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Task</td></tr>
    <tr><!-- the task -->
        <td></td>
        <td id="ott">
        {{el.data}}
        </td>
        <td>
        	<a onclick="CopyContent('ott-{{el.id}}','ttt-{{el.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a>
        	<a onclick="ClearContent('ttt-{{el.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
        </td>
        <td>
        <div id="otai">{# if there is an image uploaded, show this e.g. <img src="/static/images/img.jpg"> #}</div>
        <input type="text" name="ttt-{{el.id}}" id="ttt-{{el.id}}" value="{{el.form}}">
        </td>
    </tr>
    {% endif %}

    {% if el.tag == "answerlist" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Answers</td></tr>
    {% for sub in el.data %}
    	{% if sub.tag == "answersplit" %}
		<tr><!-- answer choices true/false -->
        	<td>Option</td>
			<td id="oa-{{sub.id}}">
			{{sub.data}}
            </td>
        	<td>
        		<a onclick="CopyContent('oa-{{sub.id}}','ta-{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a>
        		<a onclick="ClearContent('ta-{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
        	</td>
            <td>
            <input type="text" name="ta-{{sub.id}}" id="ta-{{sub.id}}" value="{{sub.form}}">
            </td>
        </tr>
        {% endif %}
        {% if sub.tag == "choice" %}
        <tr><!-- answers -->
        	<td>Answer</td>
        	<td id="oa-{{sub.id}}">
        	{{sub.data}}
        	</td>
       		<td>
       			<a onclick="CopyContent('oa-{{sub.id}}','ta-{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a>
       			<a onclick="ClearContent('ta-{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
       		</td>
        	<td>
        	<input type="text" name="ta-{{sub.id}}" id="ta-{{sub.id}}" value="{{sub.form}}">
        	</td>
        </tr>
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if el.tag == "list" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">List</td></tr>
    {% for sub in el.data %}
    <tr><!-- possible list -->
    	<td></td>
    	<td>{{sub.data}}</td>
    	<td>
    		<a onclick="CopyContent('ol-{{sub.id}}','tl-{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a>
    		<a onclick="ClearContent('tl-{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
    	</td>
    	<td>
    	<input type="text" id="tl-{{sub.id}}" name="tl-{{sub.id}}" value="{{sub.form}}">
    	</td>
	</tr>
    {% endfor %}
    {% endif %}

    {% if el.tag == "figure" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Image</td></tr>
    <tr><!-- possible image -->
        <td></td>
        <td>
        <img src="/staff/images/{{el.meta}}/{{question.id}}/1/{{versions.orig}}/" onclick="enlarge(this);">
        </td>
        <td></td>
        <td>
        <img src="/staff/images/{{el.meta}}/{{question.id}}/{{lang_id}}/{{versions.trans}}/" onclick="enlarge(this);">
        </td>
        </tr>
        {% for sub in el.data %}
        <tr>
        	<td></td>
        	<td id="oi-{{sub.id}}">{{sub.data}}</td>
        	<td>
            	<a onclick="CopyContent('oi-{{sub.id}}','ti-{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a>
            	<a onclick="ClearContent('ti-{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
            </td>
            <td><input type="text" name="ti-{{sub.id}}" id="ti-{{sub.id}}" value="{{sub.form}}"/></td>
            </tr>
        {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}

<tr>
<td colspan="3" style="background: #e0e0e0; height: 10px; padding: 6px;">Commentary</td><td style="background: #e0e0e0; height: 10px; padding: 6px; font-weight: bold;">Own commentary</td>
</tr>
<tr>
<td></td>
<td>
The correct answers are A, B, C and D. This is because ... and see reference here.
</td>
<td></td>
<td>
<textarea name="comment" id="txtcomment">{{comment}}</textarea>
</td>
</tr>
</table>

<input type="submit" style="visibility:hidden" value="submit" id="submitter" name="submit" />
</form>

<br style="clear: both;">

<ul class="examlegend">
	<li><div class="empt"></div> unsaved</li>
	<li><div class="done"></div> finalized</li>
	<li><div class="need"></div> in progress</li>
	<li><div class="updt"></div> server update</li>
	<li><div class="lock"></div> locked</li>
</ul>
{% endblock %}
</div>
