{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}User Profile{% endblock %}
{% block menu %}
    <ul>
        <li><a href="/jury/{{language.id}}/overview/" >Overview</a></li>
        {% for e in exams %}
        <li><a href="/jury/{{language.id}}/exam/{{e.id}}">{{e.name}}</a></li>
        {% endfor %}
        <li><a href="/jury/{{language.id}}/" class="select">Profile</a></li>
    </ul>
{% endblock %}

{% block main %}
   
    <h2>Current language: {{language.name}}:</h2>

    <h2>Your permissions for {{language.name}}: {% for p in perms %}{{p}} {% endfor %}</h2>
    {% if 'admin' in perms %}
        <h2>Edit access to {{language.name}}:</h2>
        <form method="POST">
        {{editform.as_ul}}
        <input type="submit" value="submit changes" name="editlanguage" />
        </form>
    {% endif %}
    <ul>
    <!--{% for lang in languages %}
        <li><a href="/jury/{{lang.id}}/overview/">{{lang.name}}</a></li>
    {% endfor %}-->
    </ul>
    <hr></hr>
    <h2>Create new language:</h2>
    <form method="POST">
    {{addform.as_ul}}
    <input type="submit" value="add language" name="addlanguage" />
    </form>

{% endblock %}


&copy; 2013 - ibo|suisse
</body>
</html>
