{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}User Profile{% endblock %}
{% block menu %}
    <ul>
        <li><a href="/jury/{{language.id}}/overview/" >Overview</a></li>
        {% for e in exams %}
        <li><a href="/jury/{{language.id}}/exam/{{e.id}}">{{e.name}}</a></li>
        {% endfor %}
        <li><a href="/jury/{{language.id}}/" class="select">Profile</a></li>
        <li><a href="/jury/{{language.id}}/students/">Students</a></li>
        <li><a href="/jury/{{language.id}}/vote/">Vote</a></li>
    </ul>
{% endblock %}




{% block main %}

{% if 'write' in perms %}
	{% if not finalized %}
	<h1>Finalize exam</h1>
	<p style="font-size: 125%; font-weight: bold;">By clicking Finalize, you confirm that the current versions of Exam 1 and Exam 2 are the final versions in <em>{{language.name}}</em>. The current versions will be locked and will no longer be editable for anyone. After you Finalize, you can assign these exams to your students.</p>
	{% if notsofast %}
	<p style="font-size: 125%; color: #f00;">You have not yet finalized all of the questions in your exams. Please make sure all questions show up as Green blocks before you Finalize.</p>
	{% endif %}
	<table>
	<tr>
	<td><form action="" method="post">
<input type="submit" name="finalize" value="Finalize exams" onclick="return confirm('The current version of both exams in {{language.name}} will be locked after finalization and cannot be changed anymore. Click \'OK\' to finalize or \'Cancel\' to abort.')">
</form></td>
	</tr>
	</table>
	
	<br style="clear: both;">
	
	{% else %}
	
	<p style="font-size: 250%; color: #f00;">The {{language.name}} version of all exams is now final. It can no longer be changed. As a last step, you have to assign exams to your students on the <a href="students/">Students page.</a></p>
	
	{% endif %}
{% endif %}



	{% if not finalized %}

    {% if 'admin' in perms %}
        <h1>Give others the right to edit {{language.name}}</h1>
        <p><strong>Please note that once access is given, it cannot be taken away again. Every delegation can read your translation, so only give access to other delegations who need to be able to <em>edit</em> your translation.</strong></p>
        <form method="POST">
        <ul style="font-size: 175%;">
        {{editform.as_ul}}
        </ul>
        <p><input type="submit" value="Give edit rights" name="editlanguage"></p>
        </form>
        <br style="clear: both"><br>
    {% endif %}
    <h2>The following people can edit {{language.name}}:</h2>
    <ul style="font-size: 175%; list-style-type: disc; margin-left: 1em;">
    {% for a in access %}
        <li>{{a.first_name}} {{a.last_name}} ({{a.username}})</li>
    {% endfor %}
    </ul>
    
    <br style="clear: both;"><br>

    <h1>Your current translations:</h1>
    <ul style="font-size: 150%;">
    You can edit translations in the following languages:
    {% for lang in languages %}
        <li><a href="/jury/{{lang.id}}/overview/">{{lang.name}}</a></li>
    {% empty %}
        &nbsp;none <br/><br/>Please create a translation below to start translating
    {% endfor %}
    </ul>
    
    <br style="clear: both;"><br>
    
    <h1>Create new translation</h1>
    <form method="POST">
    <ul style="font-size: 175%;">
    {{addform.as_ul}}
    </ul>
    <p><input type="submit" value="Add translation" name="addlanguage"></p>
    </form>
    {% if "write" in perms %}
    <h1>Translate categories for {{language.name}}</h1>
    <form action="" method="post">
    <table>
    {{cf.as_table}}
    <tr><td><input type="submit" name="translate_cat" value="submit translation" /></td></tr>
    </table>
    </form>
    {% endif %}
    
    <br style="clear: both;">

	{% endif %}
{% endblock %}
