{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}Practical exam{% endblock %}
{% block menu %}
    <ul>
        <li><a href="/jury/{{language.id}}/practical/" class="select">Practical exam</a></li>
    </ul>
{% endblock %}

{% block main %}

<h1>Download official versions</h1>
<ul>
{% for p in practicals %}
<li><p><a href="/jury/files/{{p.filename}}"><strong>{{p.name}}</strong></a> ({{p.timestamp}})</p></li>
{% endfor %}
</ul>

<br style="clear: both;"><br>

<h1>Upload translation</h1>
<table class="practicaltable">
<form action="" method="POST" enctype="multipart/form-data">
{{uploadform.as_table}}
<tr><td></td><td><input type="submit" name="upload" value="Upload"></td></tr>
</form>
</table>

<br style="clear: both;"><br>

<h1>Your uploaded translations</h1>
<table>
<td>
{% for f in examfiles %}
<a href="/jury/files/{{f.filename}}"><strong>{{f.name}}</strong></a> ({{f.timestamp}} <em>by</em> {{f.owner}})
<form action="" method="POST">
<input type="hidden" name="file" value="{{f.id}}">
<input type="submit" name="delete" value="Delete" onclick="return confirm('Delete {{f.name}}?')">
</form>
{% endfor %}
</td>
</tr>
</table>

<br style="clear: both;"><br>

<!-- if you want people to see just the assignments without using the form in the finalized view, you can use the template variable assignments
you'll need to do things like a.student.user.first_name, a.practical_exam.name,a.practical_exam_file.name to retrieve all the info you probably want to display.
 -->

<h1>Assign exams</h1>
<form action="" method="post">
<table class="assignmenttable">
{{assignform.as_table}}
<tr><td></td><td><input type="submit" name="assign" value="Submit"></td>
</table>
</form>

<form action="" method="post">
<p><input type="submit" name="finalize" value="Finalize assignment"></p>
</form>

{% endblock %}
