{% extends "jury_examview.html" %}

{% block examlegend %}{% endblock %}

{% block content %}
<div class="questionnavlist">
<div class="inner">
{% for q in status %}
<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/" class="{{q.status}}">{{q.primary.position}}</a>
{% endfor %}
</div>
</div>

<br style="clear: both;">

<div class="infobarbig">
	<strong>Difficulty:</strong>
	Too easy
	<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
	</fieldset>
	Too hard
	<div style="width: 125px; display: inline-block"></div>
	{# TODO: make link to previous and next questions #}
	<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/"><img src="/static/icons/prev.png" title="Goto previous" alt="previous"></a>
    {{form.flag.errors}}
	{{form.flag}}<label for="id_flag" title="Flag for attention"></label>
    {{form.checkout.errors}}
	{{form.checkout}}<label for="id_checkout" title="Check-out as final"></label>
	{% if 'admin' in perms or 'write' in perms %}
	<a href="#"><img src="/static/icons/save_old.png" title="Save" alt="save" onclick="document.getElementById('submitter').click();"></a>
	<a href="#"><img src="/static/icons/savenext_old.png" title="Save and next" alt="savenext"></a>
	{% endif %}
	<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/"><img src="/static/icons/next.png" title="Goto next" alt="next"></a>
</div>

<h1>Question {{pos}} : {{question.name}}</h1>

<form action="" method="post" id="questionform">
<table class="translationtable">
<tr>
<td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px; border-bottom: 1px solid #999">Translation</td>
</tr>
<tr><th></th><th>
Original version {{version.orig}}
<select> {# TODO: Make this into Django -- toggle between two official translations #}
	<option value="IBOENG">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
</select>
</th><th style="width: 5%"><a onclick="CopyContentAll()"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContentAll()"><img src="/static/icons/empty.png" style="width: 30px;"></a>
</td></th><th>
Translated version {{version.trans}}
<select> {# TODO: Make this into Django -- latest x versions #}
	<option value="434">2013-07-15 14:55.18 (latest)</option>
	<option value="433">2013-07-15 14:50.59</option>
	<option value="432">2013-07-15 12:11.43</option>
</select>
<a href="#">Restore this version</a>
</th></tr>

<tr>
<td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Question</td>
</tr>
<tr> <!-- the question -->
<td></td>
<td id="oq">
{{compare}}
</td>
<td><a onclick="CopyContent('oq','tq')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('tq')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
</td>
<td>
<div id="tqi">{# if there is an image uploaded, show this e.g. <img src="/static/images/img.jpg"> #}</div>
{{form.text.errors}}
{{form.text}}
</td>
</tr>
<tr>
<td></td>
<td id="op">
Proposition text comes here... {# TODO: which db field holds this information? #}
</td>
<td><a onclick="CopyContent('op','tp')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('tp')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
</td>
<td>
<div id="tpi">{# if there is an image uploaded, show this e.g. <img src="/static/images/img.jpg"> #}</div>
<div id="tp" contenteditable="true">
</div>
</td>
</tr>

<tr>
<td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Image</td>
</tr>
<tr> <!-- possible image -->
<td></td>
<td>
<img src="/static/images/test.jpg" onclick="enlarge(this);">
</td>
<td></td>
<td>
[TRANSLATED IMAGE HERE]
</td>
</tr>
<tr> {# TODO: Make this into a loop for all text-fields that have been extracted from the SVG #}
<td></td>
<td id="oi1">Word 1 from SVG</td>
<td>
<a onclick="CopyContent('oi1','ti1')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ti1')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
</td>
<td><div id="ti1" contenteditable="true"></div></td>
</tr>
<tr>
<td></td>
<td id="oi2">Word 2 from SVG</td>
<td><a onclick="CopyContent('oi2','ti2')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ti2')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
<td><div id="ti2" contenteditable="true"></div></td>
</tr>
<tr>
<td></td>
<td id="oi3">Word 3 from SVG</td>
<td><a onclick="CopyContent('oi3','ti3')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ti3')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
<td><div id="ti3" contenteditable="true"></div></td>
</tr>

<tr>
<td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Answers</td>
</tr>
<tr> <!-- answers -->
<td>A.</td>
<td id="oa1">
Answer A
</td>
<td><a onclick="CopyContent('oa1','ta1')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ta1')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
<td>
<div id="ta1" contenteditable="true">
</div>
</td>
</tr>
<tr>
<td>B.</td>
<td id="oa2">
Answer B
</td>
<td><a onclick="CopyContent('oa2','ta2')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ta2')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
<td>
<div id="ta2" contenteditable="true">
</div>
</td>
</tr>
<tr>
<td>C.</td>
<td id="oa3">
Answer C
</td>
<td><a onclick="CopyContent('oa3','ta3')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ta3')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
<td>
<div id="ta3" contenteditable="true">
</div>
</td>
</tr>
<tr>
<td>D.</td>
<td id="oa4">
Answer D
</td>
<td><a onclick="CopyContent('oa4','ta4')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('ta4')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
<td>
<div id="ta4" contenteditable="true">
</div>
</td>
</tr>

<tr>
<td colspan="3" style="background: #e0e0e0; height: 10px; padding: 6px;">Commentary</td><td style="background: #e0e0e0; height: 10px; padding: 6px; font-weight: bold;">Own commentary</td>
</tr>
<tr>
<td></td>
<td>
The correct answers are A, B, C and D. This is because ... and see reference here.
</td>
<td></td>
<td>
<div id="ta1" contenteditable="true">
{{form.comment.errors}}
{{form.comment}}
</div>
</td>
</tr>
</table>
{{form.orig_version}}
<input type="submit" style="visibility:hidden" value="submit" id="submitter" name="submit" />
</form>

<br style="clear: both;">

<ul class="examlegend">
	<li><div class="empt"></div> unsaved</li>
	<li><div class="done"></div> finalized</li>
	<li><div class="need"></div> in progress</li>
	<li><div class="updt"></div> server update</li>
	<li><div class="lock"></div> locked</li>
</ul>
{% endblock %}
</div>
