{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}User Profile{% endblock %}
{% block menu %}
    <ul>
        <li><a href="/jury/{{language.id}}/overview/" >Overview</a></li>
        {% for e in exams %}
        <li><a href="/jury/{{language.id}}/exam/{{e.id}}">{{e.name}}</a></li>
        {% endfor %}
        <li><a href="/jury/{{language.id}}/" class="select">Profile</a></li>
        <li><a href="/jury/{{language.id}}/students/">Students</a></li>
    </ul>
{% endblock %}

{% block main %}

	<h1>Permissions</h1>
	<p>Current translation: <strong>{{language.name}}</strong>.</p>
	<p>You can <strong>{% for p in perms %}{{p}} {% endfor %}</strong> this translation.</p>

    {% if 'admin' in perms %}
    <h2>Edit access to {{language.name}}</h2>
    <form method="POST">
    {{editform.as_ul}} {# I fear this list will become impractically long with 250+ jury members #}
    <input type="submit" value="Submit changes" name="editlanguage">
    </form>
    {% endif %}
    <!--<ul>
    {% for lang in languages %}
        <li><a href="/jury/{{lang.id}}/overview/">{{lang.name}}</a></li>
    {% endfor %}
    </ul>-->
    
    {% if 'admin' in perms %}
    <hr>
    <h2>Create new translation</h2>
    <form method="POST">
    {{addform.as_ul}}
    <input type="submit" value="Add translation" name="addlanguage">
    </form>
    {% endif %}
    
    {# RB: Should it be possible to remove/disable translations as well, or is this too dangerous? #}

{% endblock %}


&copy; 2013 - ibo|suisse
</body>
</html>
