{% extends "jury_examview.html" %}

{% block examlegend %}{% endblock %}

{% block content %}
<div class="questionnavlist">
<div class="inner">
{% for q in status %}
<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/" class="{{q.status}}">{{q.primary.position}}</a>
{% endfor %}
</div>
</div>

<br style="clear: both;">

<form action="" method="post" id="questionform">
<div class="infobarbig">
	<strong>Difficulty:</strong>
	Too easy
	<fieldset class="rating">
	{% if rating == 5 %}
    <input type="radio" id="star5" name="rating" value="5" checked="checked"><label for="star5"></label>
    {% else %}
    <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
    {% endif %}
    {% if rating == 4 %}
    <input type="radio" id="star4" name="rating" value="4" checked="checked"><label for="star4"></label>
    {% else %}
    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
    {% endif %}
    {% if rating == 3 %}
    <input type="radio" id="star3" name="rating" value="3" checked="checked"><label for="star3"></label>
    {% else %}
    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
    {% endif %}
    {% if rating == 2 %}
    <input type="radio" id="star2" name="rating" value="2" checked="checked"><label for="star2"></label>
    {% else %}
    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
    {% endif %}
    {% if rating == 1 %}
    <input type="radio" id="star1" name="rating" value="1" checked="checked"><label for="star1"></label>
    {% else %}
    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
    {% endif %}
    
	</fieldset>
	Too hard
	<div style="width: 125px; display: inline-block"></div>
	{# TODO: make link to previous and next questions #}
	<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/"><img src="/static/icons/prev.png" title="Goto previous" alt="previous"></a>
	{{form.flag}}<label for="id_flag" title="Flag for attention"></label>
	{{form.checkout}}<label for="id_checkout" title="Check-out as final"></label>
	{% if 'admin' in perms or 'write' in perms %}
	<a href="#"><img src="/static/icons/save_old.png" title="Save" alt="save" onclick="document.getElementById('submitter').click();"></a>
	<a href="#"><img src="/static/icons/savenext_old.png" title="Save and next" alt="savenext"></a>
	{% endif %}
	<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/"><img src="/static/icons/next.png" title="Goto next" alt="next"></a>
</div>

<h1>Question {{pos}} : {{question.name}}</h1>

<table class="translationtable">
<tr>
<td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px; border-bottom: 1px solid #999">Translation</td>
</tr>
<tr><th></th><th>
Original version {{versions.orig}}
<select> {# TODO: Make this into Django -- toggle between two official translations #}
	<option value="IBOENG">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
</select>
</th><th style="width: 80px;"><a onclick="CopyContentAll()"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContentAll()"><img src="/static/icons/empty.png" style="width: 30px;"></a>
</td></th><th>
Translated version {{versions.trans}}
<select> {# TODO: Make this into Django -- latest x versions #}
	<option value="434">2013-07-15 14:55.18 (latest)</option>
	<option value="433">2013-07-15 14:50.59</option>
	<option value="432">2013-07-15 12:11.43</option>
</select>
<a href="#">Restore this version</a>
</th></tr>


{% for q in struct %}
  {% for el in q.data %} 
    {% if el.tag == "text" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Question text</td></tr>
    <tr> <!-- the question -->
        <td></td>
        <td id="oq">
        {{el.data}}
        </td>
        <td><a onclick="CopyContent('oq','{{el.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('{{el.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
        </td>
        <td>
        <div id="tqi">{# if there is an image uploaded, show this e.g. <img src="/static/images/img.jpg"> #}</div>
        <textarea {{readonly}} name="{{el.id}}" id="{{el.id}}" class="ckeditor">{{el.form}}</textarea>
        </td>
    </tr>
    {% endif %}

    {% if el.tag == "task" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Task</td></tr>
    <tr> <!-- the task -->
        <td></td>
        <td id="op">
        {{el.data}}
        </td>
        <td><a onclick="CopyContent('op','{{el.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('{{el.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
        </td>
        <td>
        <div id="tpi">{# if there is an image uploaded, show this e.g. <img src="/static/images/img.jpg"> #}</div>
        <textarea {{readonly}} name="{{el.id}}" value="{{el.form}}" class="ckeditor">{{el.form}}</textarea>
        </td>
    </tr>
    {% endif %}

    {% if el.tag == "answerlist" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Answers</td></tr>
    
        {% for sub in el.data %}
            {% if sub.tag == "answersplit" %}
                <tr> <!-- answer options -->
                <td>Option</td>
                <td id="o-{{sub.id}}">
                {{sub.data}}
                </td>
                <td><a onclick="CopyContent('o-{{sub.id}}','{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
            	<td><input {{readonly}} type="text" name="{{sub.id}}" id="{{sub.id}}" value="{{sub.form}}"></td>
                </tr>
            {% endif %}
            {% if sub.tag == "choice" %}
                <tr> <!-- answers -->
                <td>Answer</td>
                <td id="o-{{sub.id}}">
                {{sub.data}}
                </td>
                <td><a onclick="CopyContent('o-{{sub.id}}','{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
            	<td><textarea {{readonly}} name="{{sub.id}}" id="{{sub.id}}" class="ckeditor">{{sub.form}}</textarea></td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if el.tag == "list" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">List</td></tr>
        {% for sub in el.data %}
        <tr> <!-- possible list -->
            <td></td>
            <td id="o-{{sub.id}}">{{sub.data}}</td>
            <td><a onclick="CopyContent('o-{{sub.id}}','{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a></td>
            <td><textarea {{readonly}} id="{{sub.id}}" name="{{sub.id}}" class="ckeditor">{{sub.form}}</textarea></td>
        </tr>
        {% endfor %}
    {% endif %}

    {% if el.tag == "figure" %}
    <tr><td colspan="4" style="background: #e0e0e0; height: 10px; padding: 6px;">Image</td></tr>
    <tr> <!-- possible image -->
        <td></td>
        <td>
        <img src="/staff/images/{{el.meta}}/{{question.id}}/1/{{versions.orig}}/" onclick="enlarge(this);">
        </td>
        <td></td>
        <td>
        <img src="/staff/images/{{el.meta}}/{{question.id}}/{{lang_id}}/{{versions.trans}}/" onclick="enlarge(this);">
        </td>
        </tr>
        {% for sub in el.data %}
            <tr>
            <td></td>
            <td id="o-{{sub.id}}">{{sub.data}}</td>
            <td>
            <a onclick="CopyContent('o-{{sub.id}}','{{sub.id}}')"><img src="/static/icons/copy.png" style="width: 30px;"></a><a onclick="ClearContent('{{sub.id}}')"><img src="/static/icons/empty.png" style="width: 30px;"></a>
            </td>
            <td><input {{readonly}} type="text" name="{{sub.id}}" id="{{sub.id}}" value="{{sub.form}}"/></td>
            </tr>
        {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}

<tr>
<td colspan="3" style="background: #e0e0e0; height: 10px; padding: 6px;">Commentary</td><td style="background: #e0e0e0; height: 10px; padding: 6px; font-weight: bold;">Own commentary</td>
</tr>
<tr>
<td></td>
<td>
{{comment|safe}}
</td>
<td></td>
<td>
{{form.comment}}
</td>
</tr>
</table>
{{form.orig}}
<input type="submit" style="visibility:hidden" value="submit" id="submitter" name="submit" />
</form>

<br style="clear: both;">

<ul class="examlegend">
	<li><div class="empt"></div> unsaved</li>
	<li><div class="done"></div> finalized</li>
	<li><div class="need"></div> in progress</li>
	<li><div class="updt"></div> server update</li>
	<li><div class="lock"></div> locked</li>
</ul>
{% endblock %}
</div>
