{% extends "ibo2013_base.html" %}
{% block title %}IBO Translation Interface{% endblock %}>
{% block lead %}Voting{% endblock %}
{% block menu %}
    <ul>
        <li><a href="/jury/{{language.id}}/overview/" >Overview</a></li>
        {% for e in exams %}
        <li><a href="/jury/{{language.id}}/exam/{{e.id}}">{{e.name}}</a></li>
        {% endfor %}
        <li><a href="/jury/{{language.id}}/">Profile</a></li>
        <li><a href="/jury/{{language.id}}/students/">Students</a></li>
        <li><a href="/jury/{{language.id}}/voting/" class="select">Vote</a></li>
    </ul>
{% endblock %}

{% block main %}

<p class="proposal"><span>Proposition</span>: The Swiss flag should be changed into purple and gold.</p>

<p class="proposal"><span>Submitted vote:</span> yes</p>
<form method="post" action="">
<ul class="voteoptions">
<li><input type="radio" name="vote" id="vote_yes" value="yes"><label for="vote_yes">Yes</label></li>
<li><input type="radio" name="vote" id="vote_no" value="no"><label for="vote_no">No</label></li>
<li><input type="radio" name="vote" id="vote_abstain" value="abstain"><label for="vote_abstain">Abstain</label></li>
<li><input type="submit" value="Submit vote" style="display: inline;"></li>
</ul>
</form>
<br><br>

{% endblock %}