{% extends "jury_examview.html" %}

{% block examlegend %}{% endblock %}

{% block content %}
<div id="questionnavlist">
<div class="inner">
{% for q in status %}
<a href="/jury/{{lang_id}}/exam/{{exam.id}}/question/{{q.primary.position}}/translate/" class="{{q.status}}">{{q.primary.position}}</a>
{% endfor %}
</div>
</div>

<br style="clear: both;">

<h1>Question {{pos}} : {{question.name}}</h1>

<form action="" method="post">
<table class="translationtable">
<tr><th></th><th>
<select>  {# TODO: Make this into Django #}
	<option value="IBOENG">IBO Official (EN)</option>
	<option value="IBORUS">IBO Official (RU)</option>
</select>
</th><th><h3>Translation</h3></th></tr>

<tr> <!-- row 1: the question -->
<td></td>
<td>
{{compare}}
</td>
<td>
<div id="tq" contenteditable="true">
{{form.text}}
</div>
</td>
</tr>

<tr> <!-- row 2: possible image -->
<td></td>
<td>
<img src="static/images/test.jpg" onclick="enlarge(this);">
</td>
<td>
</td>
</tr>
<tr> <!-- row 3: first answer -->
<td>A.</td>
<td>
Answer A
</td>
<td>
<div id="ta1" contenteditable="true">
</div>
</td>
</tr>
<tr> <!-- row 4: second answer -->
<td>B.</td>
<td>
Answer B
</td>
<td>
<div id="ta2" contenteditable="true">
</div>
</td>
</tr>
<tr> <!-- row 5: third answer -->
<td>C.</td>
<td>
Answer C
</td>
<td>
<div id="ta3" contenteditable="true">
</div>
</td>
</tr>
<tr> <!-- row 6: fourth answer -->
<td>D.</td>
<td>
Answer D
</td>
<td>
<div id="ta4" contenteditable="true">
</div>
</td>
</tr>
</table>

<br style="clear: both;">

<div class="infobarbig">
	<strong>Difficulty:</strong>
	Too easy
	<fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5"><label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4"><label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2"><label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1"><label for="star1"></label>
	</fieldset>
	Too hard
	<div style="width: 50px; display: inline-block"></div>
	<a href="#" class="flag"><img src="/static/icons/flagbigwhite.png" title="Flag for attention" alt="flag"></a>
	{{form.flag}} {# TODO: rework the anchors into input checkboxes. #}
	<a href="#" class="done"><img src="/static/icons/locked.png" title="Check-out as final" alt="check"></a>
	{{form.checkout}}
	{% if 'admin' in perms or 'write' in perms %}<a href="#"><img src="/static/icons/save_old.png" title="Save" alt="check"></a>
	<a href="#"><img src="/static/icons/savenext_old.png" title="Save and next" alt="check"></a>{% endif %}
</div>

<table class="translationtable">
<tr><th></th><th colspan="2"><h3>Commentary</h3></th></tr>
<tr>
<td></td>
<td>
The correct answers are A, B, C and D. This is because ... and see reference here.
</td>
<td>
<div id="ta1" contenteditable="true">
{{form.comment}}
</div>
</td>
</tr>
</table>

</form>

<br style="clear: both;">

<hr>

<ul class="examlegend">
    <li><div class="empt"></div> untranslated</li>
    <li><div class="done"></div> finished</li>
    <li><div class="need"></div> in progress</li>
    <li><div class="updt"></div> update necessary</li>
    <li><div class="flag"></div> flagged</li>
</ul>
{% endblock %}
</div>
