<!doctype html>
{% load ibotags %}
<html lang="en-GB">
<head>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0">
<title>{% block title %}IBO Theoretical Exam{% endblock %}</title>
<link href="/static/reset.css" rel="stylesheet" type="text/css">
<script src="/static/jquery-1.10.2.min.js" type="text/javascript"></script>
<link href="/static/students.css" rel="stylesheet" type="text/css">
<script src="/static/students.js" type="text/javascript"></script>
</head>
<body>

<div id="header">
{% block header %}
{% endblock %}
</div>

<div id="main">
{% block main %}
{% endblock %}
</div>
<div class="ibologo" onclick="fullsize()"><img src="/static/icons/IBO2013.png"></div>
<div id="clock"></div>

</body>
</html>

