<html>
<body>
<p>Question: <strong>{{ question.name }}</strong></p>

{% if versions %}
    <p>{{ versions|length }} version{{ versions|pluralize }}.</p>
    {% for v in versions %}
        <p>{{ v.timestamp }}<br>
        {{ v.text }}
        <p>
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        {% empty %}
        <li>You should never see this text</li>
    {% endfor %}    
{% else %}
    <p>A question with no version</p>
{% endif %}
{% if compare %}
    {{compare}}
{% else %}
    <p>No comparison</p>
{% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
