{% extends "ibo2013_staff.html" %}

{% block scripts %}
<script src="/static/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/staff.js" type="text/javascript"></script>
<style>
body { font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0; }
h1 { border-bottom: 1px solid #999; 
	padding: 10px;
	font-size: 32px; }
p { margin: 12px 0; }
.coll,
.colr {
	float: left;
	width: 48%;
	padding: 1%;
}
</style>
{% endblock %}

{% block main %}
<script type="text/javascript">
     function refresh() {
        if($('#do_sync').is(':checked')){
         window.location.reload(true);
        }
     }
    reloadInterval = setInterval( "refresh()", 2000 );
</script>


<h1>Question: <strong>{{ question.name }}</strong> version {{vnode.version}}</h1>
<input type="checkbox" id="do_sync" checked/><label for="do_sync">sync</label>
<br style="clear: both;">

<div class="coll">
{% for q in struct %}
  {% for el in q.data %} 
    {% if el.tag == "text" %}
        <p>{{el.data}}</p>
    {% endif %}

    {% if el.tag == "list" %}
        <ul>
        {% for sub in el.data %}
            <li>{{sub.data}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if el.tag == "figure" %}
        <img src="/staff/images/{{el.meta}}/{{question.id}}/1/{{vnode.version}}/">
        <p><strong>Editable figure text</strong></p>
        <ul>
        {% for sub in el.data %}
            <li><p>{{sub.data}}</p></li>
        {% endfor %}
        </ul>
    {% endif %}

  {% endfor %}
{% endfor %}
</div>

<div class="colr">
{% for q in struct %}
  {% for el in q.data %} 

    {% if el.tag == "task" %}
        <p>{{el.data}}</p>
        <hr>
    {% endif %}
  
    {% if el.tag == "answerlist" %}
        {% for sub in el.data %}
            {% if sub.tag == "answersplit" %}
                <p>{{sub.data}}</p>
            {% endif %}
            <hr>
            {% if sub.tag == "choice" %}
                <p>{{sub.data}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
</div>

<br style="clear: both;">

{% endblock %}
