{% extends "ibo2013_staff.html" %}

{% block scripts %}
<script src="/static/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/staff.js" type="text/javascript"></script>
<style>
body { font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0; }
h1 { border-bottom: 1px solid #999; 
	padding: 10px;
	font-size: 32px; }
p { margin: 12px 0; }
.coll,
.colr {
	float: left;
	width: 48%;
	padding: 1%;
}
</style>
{% endblock %}

{% block main %}
<script type="text/javascript">

//scroll to right position
/*
$(window).load(function(){
    var xpos = localStorage.getItem("scrollleft");
    var ypos = localStorage.getItem("scrolltop");
    console.log("now at " + ypos);
    window.scrollTo(xpos, ypos);
});


     function refresh() {
        if($('#do_sync').is(':checked')){
         var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
         var scrollLeft = document.body.scrollLeft || document.documentElement.scrollLeft;
         localStorage.setItem("scrolltop",scrollTop);
         localStorage.setItem("scrollleft",scrollLeft);
         console.log(localStorage.getItem("scrolltop"));
         window.location.assign("?reload={{counter|add:'1'}}");
         var xpos = localStorage.getItem("scrollleft");
         var ypos = localStorage.getItem("scrolltop");
         window.scrollTo(xpos, ypos);
        }
     }
    reloadInterval = setInterval( "refresh()", 2000 );
*/
</script>

<div id="allpage"><link rel="prefetch" href="?reload={{counter|add:'1'}}" />
<a href="../{{question_position|add:'-1'}}"> &lt;- previous question</a>
<input type="checkbox" id="do_sync" checked/><label for="do_sync">sync</label>
<a href="../{{ question_position|add:'1'}}">next question -&gt;</a>
<br style="clear: both;">
<h1>Question {{question_position}}: <strong>{{ question.name }}</strong> version {{vnode.version}}</h1>

<div class="coll">
{% for q in struct %}
  {% for el in q.data %} 
    {% if el.tag == "text" %}
        <p>{{el.data}}</p>
    {% endif %}

    {% if el.tag == "list" %}
        <ul>
        {% for sub in el.data %}
            <li>{{sub.data}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if el.tag == "figure" %}
        <img src="/staff/images/{{el.meta}}/{{question.id}}/1/{{vnode.version}}/" style="width:100%">
        <p><strong>Figure texts</strong></p>
        <ul>
        {% for sub in el.data %}
            <li><p>{{sub.data}}</p></li>
        {% endfor %}
        </ul>
    {% endif %}

  {% endfor %}
{% endfor %}
</div>

<div class="colr">
{% for q in struct %}
  {% for el in q.data %} 

    {% if el.tag == "task" %}
        <p>{{el.data}}</p>
    {% endif %}
    
  {% endfor %}
{% endfor %}

<hr>

{% for q in struct %}
  {% for el in q.data %} 
    {% if el.tag == "answerlist" %}
        {% for sub in el.data %}
            {% if sub.tag == "answersplit" %}
                <p>{{sub.data}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}

<hr>

{% for q in struct %}
  {% for el in q.data %} 
    {% if el.tag == "answerlist" %}
    <ol>
        {% for sub in el.data %}
            {% if sub.tag == "choice" %}
                <li><p>{{sub.data}}</p></li>
            {% endif %}
        {% endfor %}
    </ol>
    {% endif %}
  {% endfor %}
{% endfor %}
</div>
</div>
<br style="clear: both;">

<hr style="margin-top: 100em;">

{% endblock %}
