{% extends "ibo2013_staff.html" %}

{% block scripts %}
<script src="/static/staff.js" type="text/javascript"></script>
{% endblock %}

{% block main %}
<a href="/staff/exam/1/">back to exam 1</a>
<a href="/staff/exam/2/">back to exam 2</a>
<a href="/staff/exam/3/">back to exam 3</a>
<a href="/staff/exam/4/">back to exam 4</a>
<hr></hr>
<p>Question: <strong>{{ question.name }}</strong></p>

[TODO: list in which exams this question is and how many points it is worth for that exam]

{% if viewmode == "xml" %}
    <a href="..">Back to normal view</a>
{% else %}
    <a href="./xml/">View raw xml</a>
{% endif %}

{% if versions %}
    {% for v in versions %}
        <p>This is version {{v.version}} of this question</p>
        <p>{{ v.timestamp }}<br>
        </p>
        {% if form.errors %}
            <p style="color: red;font-size:150%;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        {% empty %}
        <li>You should never see this text</li>
    {% endfor %}    
{% else %}
    <p>A question with no version</p>
{% endif %}
{% if compare %}
    {{compare}}
{% else %}
    <p>No comparison</p>
{% endif %}

    <form action="" method="post">
<table>
{% for error in form.non_field_errors %}
    <tr><td style="color:red">{{ error }}</td></tr>
{% endfor %}

{% for field in form %}
    {% for error in field.errors %}
    <tr><td style="color:red">{{ error }}</td></tr>
    {% endfor %}
    <tr><th>{{ field.label_tag }}:</th><td>{{ field }}</td></td>
{% endfor %}


            {% if viewmode == "xml" %}
            rows:<input type="text" class="short" id="nrows" value="2" />
            cols:<input type="text" class="short" id="ncols" value="3"/>
            <button onclick="return add_table();">add table</button>
            <br />
            <button onclick="return add_figure();">add figure</button>
            <br />
            <button onclick="return add_list();">add list</button>
            {% endif %}
        </table>
        <input type="hidden" name="qid" id="question_id" value="{{question.id}}" />
        <input type="submit" value="Submit">
    </form>

{% endblock %}
