{% extends "ibo2013_staff.html" %}
{% load ibotags %}
{% block main %}

<p class="proposal"><span>Proposition</span>:{{current.text}}</p>
{% if active %}
<p>This vote is now active</p>
{% else %}
<p>This vote is now inactive</p>
{% endif %}

{% if active|is_false %}
<ul class="voteresults">
<li>Yes: <strong>{{stats.yes}}</strong></li>
<li>No: <strong>{{stats.no}}</strong></li>
<li>Abstain: <strong>{{stats.abstain}}</strong></li>
<li>No vote: <strong> {{stats.noanswer}}</strong></li>
</ul>
{% endif %}

<br><br>

<div class="voteoverview">
{% for v in votes %}
    <input type="checkbox" name="votes" id="{{v.v}}{{v.d.id}}" class="{{v.v}}" checked="checked"><label class="{{v.v}}" for="{{v.v}}{{v.d.id}}">{{v.d.name}}</label>
{% endfor %}
</div>

<h2> Create new vote:</h2>
<form action="" method="POST">
    {{newform.as_table}}
    <input type="submit" name="create" value="create" />
</form>
<hr></hr>
<h2>Modify existing vote:</h2>
{% for f in forms %}
<form action="" method="POST">
    {{f.frm.as_table}}
    <input type="hidden" name="round" value="{{f.id}}"/>
    <input type="submit" name="submit" value="submit"/>
</form>
{% endfor %}
{% endblock %}
