{% extends "ibo2013_staff.html" %}

{% block main %}
    {% if exam %}

        <h1>{{ exam.name }}</h1>

        {% if questions %}
            <p>{{ questions|length }} question{{ questions|pluralize }}.</p>
            <ul>
                {% for q in questions %}
                    {{q.q.position}}:{{q.q.question.name}}--{{q.q.question.primary_language}}
                    <li class="qli">
                    <a href="/staff/question/{{q.q.question_id}}/">Edit this question</a>
                    <form name="points-{{q.q.id}}" method="POST">
                                {{q.form.as_table}}
                                <input type="hidden" name="qid" value="{{q.q.id}}" />
                                <input type="submit" name="update" value="update"/>
                            </form>
                    <form name="move-{{q.q.id}}" method="POST">
                        <input type="submit" name="up" value="move up" />
                        <input type="submit" name="down" value="move down" />
                        <input type="submit" name="delete" value="remove" />
                        <input type="hidden" name="qid" value="{{q.q.id}}" />
                    </form>
                    </li>
                {% empty %}
                    <li>You should never see this text</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>This exam does not have any questions yet.</p>
        {% endif %}
            <h2>Add new question:</h2>
            <form action="" method="POST">
                <table>
                    {{ form.as_table }}
                </table>
                <input type="hidden" name="addquestion">
                <input type="submit" value="Create Question">
            </form>
            <h2>Add an existing question:</h2>
            <form action="" method="POST">
                <table>
                    {{insertform.as_table}}
                </table>
                <input type="hidden" name="insertquestion">
                <input type="submit" value="Insert question">
            </form>
    {% else %}
    <p>There is no such exam</p>
    {% endif %}

{% endblock %}
