{% extends "ibo2013_staff.html" %}

{% block scripts %}
<script src="/static/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/static/staff.js" type="text/javascript"></script>
{% endblock %}

{% block main %}

<script type="text/javascript">
//to update content every 2 seconds
var iFrequency = 2000; // expressed in miliseconds


function doSomething()
{
    if($('#do_sync').is(':checked')){
        console.log("sync");
        var self = $('#xmlform');
        url = "/ajax/";
        ajax_req = $.ajax({
            url: url,
            type: "POST",
            data: {
                vnode: self.find('#vnode_id').val(),
                text: self.find("#area51").val()
            },
            success: function(data, textStatus, jqXHR) {
                console.log(data);
            },
            error: function(data, textStatus, jqXHR) {
                        console.log(data.responseText)
                        console.log("ERROR: " + $.parseJSON(data.responseText));
                }
        });
    }
}

myInterval = setInterval( "doSomething()", iFrequency );  // run
</script>


<a href="/staff/exam/1/">back to exam 1</a>
<a href="/staff/exam/2/">back to exam 2</a>
<a href="/staff/exam/3/">back to exam 3</a>
<a href="/staff/exam/4/">back to exam 4</a>
<hr></hr>
<p>Question: <strong>{{ question.name }}</strong></p>

[TODO: list in which exams this question is and how many points it is worth for that exam]


{% if viewmode == "xml" %}
    <a href="..">Back to normal view</a>
    <form action="" method="post">
        <input type="submit" name="reident" value="renumber fields" />
    </form>
{% else %}
    <a href="./xml/">View raw xml</a>
{% endif %}

{% if versions %}
    {% for v in versions %}
        <p>This is version {{v.version}} of this question</p>
        <p>{{ v.timestamp }}<br>
        </p>
        {% if form.errors %}
            <p style="color: red;font-size:150%;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        {% empty %}
        <li>You should never see this text</li>
    {% endfor %}    
{% else %}
    <p>A question with no version</p>
{% endif %}
{% if compare %}
    {{compare}}
{% else %}
    <p>No comparison</p>
{% endif %}

    <form id="xmlform" action="" method="post">
<table>
{% for error in form.non_field_errors %}
    <tr><td style="color:red">{{ error }}</td></tr>
{% endfor %}

{% for field in form %}
    {% for error in field.errors %}
    <tr><td style="color:red">{{ error }}</td></tr>
    {% endfor %}
    <tr><th>{{ field.label_tag }}:</th><td>{{ field }}</td></td>
{% endfor %}


            {% if viewmode == "xml" %}
            {% if vnode.committed %}{% else %}
            <input type="checkbox" id="do_sync" /><label for="do_sync">sync</label><br />
            {% endif %}
            rows:<input type="text" class="short" id="nrows" value="2" />
            cols:<input type="text" class="short" id="ncols" value="3"/>
            <button onclick="return add_table();">add table</button>
            <br />
            {{fig_form.figure}}<button onclick="return add_figure();">add figure</button>
            <br />
            <button onclick="return add_list();">add list</button>
            {% endif %}
        </table>
        <input type="hidden" id="vnode_id" name="vnode_id" value="{{vnode.id}}" />
        <input type="hidden" name="qid" id="question_id" value="{{question.id}}" />
        <input type="submit" value="Submit">
        {% if vnode.committed %}{% else %}
        <input type="submit" name="revert" value="revert changes" onclick="return confirm('undo all changes since last commit?! Once deleted, they cannot be retrieved.');" />
        {% endif %}
    </form>

{% endblock %}
