<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0" />
<title>IBO Exam Test</title>
<link href="/static/reset.css" rel="stylesheet" type="text/css">
<link href="/static/students.css" rel="stylesheet" type="text/css">
<script src="/static/students.js" type="text/javascript"></script>
</head>
<body>

<div id="header">
<div class="title">
{{lang_picker.language}}
</div>
<div class="infobox">
{# TODO: Delegation name? #}
<strong>{{user}}</strong> (The Netherlands)
</div>
</div>

<div id="main">
<div id="question">
<p>{{exam.name}} | Question {{pos}} | {{question.name}}</p>
<p>{{vnode}}</p>
{% for q in struct %}
{% for el in q.data %}

	{% if el.tag == "text" %}
	<p>{{el.data}}</p>
	{% endif %}
	
	{% if el.tag == "figure" %}
	{# TODO: The URL to the images will probably be a bit different! #}
	<img src="/staff/images/{{el.meta}}//{{question.id}}/{{language.id}}/{{versions.trans}}/" onclick="enlarge(this);">
	{% endif %}

{% endfor %}
{% endfor %}
</div>

<div id="answers">
{% for q in struct %}
{% for el in q.data %}

	{% if el.tag == "task" %}
	<p>{{el.data}}</p>
	{% endif %}
	
{% endfor %}
{% endfor %}

<table>
<tr>
	<th></th>
	{% for q in struct %}
	{% for el in q.data %}
	{% if el.tag == "answerlist" %}
	{% for sub in el.data %}
	{% if sub.tag == "answersplit" %}
	<th><p>{{sub.data}}</p></th>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
	{% endfor %}
</tr>

{% for q in struct %}
{% for el in q.data %}
{% if el.tag == "answerlist" %}
{% for sub in el.data %}
	{% if sub.tag == "choice" %}
	<tr>
	<td><p>{{sub.data}}</p></td>
	<td>
	<input type="radio" id="{{sub.id}}t" name="{{sub.id}}" value="true" onclick="DoSomethingToStoreTheQuestion()">
		<label for="{{sub.id}}t" class="true"><div></div></label>
	</td>
	<td>
	<input type="radio" id="{{sub.id}}f" name="{{sub.id}}" value="false" onclick="DoSomethingToStoreTheQuestion()">
		<label for="{{sub.id}}f" class="false"><div></div></label>
	</td>
	</tr>
	{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{# TODO: flagging #}
</table>
	<div id="answerbar">
		{% if pos|add:'-1' > 0 %}
		<a href="/students/question/{{lang_id}}/{{exam_id}}/{{pos|add:'-1'}}" class="prev"></a>
		{% endif %}
		{{form.flag}}<label for="id_flag" title="Flag for attention"></label>
		{% if pos|add:'1' < 51 %}
		<a href="/students/question/{{lang_id}}/{{exam_id}}/{{pos|add:'1'}}" class="next"></a>
		{% endif %}
	</div>
</div>
</div>

<div id="footer">
{% if pos|add:'-1' > 0 %}
<a href="/students/question/{{lang_id}}/{{exam_id}}/{{pos|add:'-1'}}" class="prev"></a>
{% endif %}
<a href="/students/overview/{{lang_id}}/{{exam_id}}" class="home"></a>
<a href="#" class="font" onclick="zoomfont()"></a>
{% if pos|add:'1' < 51 %}
<a href="/students/question/{{lang_id}}/{{exam_id}}/{{pos|add:'1'}}" class="next"></a>
{% endif %}
</div>

<div class="ibologo" onclick="fullsize()"><img src="/static/icons/IBO2013.png"></div>
<div id="clock">{{countdown}}</div>

</body>
</html>

