{% extends "students_base.html" %}
{% load ibotags %}
{% block main %}
<div id="question">
<p>{{language}} | Question {{pos}} | {{question.name}}</p>
{% for q in struct %}
{% for el in q.data %}
	{% if el.tag == "text" %}
	<p>{{el.data}}</p>
	{% endif %}
    {% if el.tag == "list" %}
        <ul>
        {% for sub in el.data %}
            <li>{{sub.data}}</li>
        {% endfor %}
        </ul>
    {% endif %}
	{% if el.tag == "figure" %}
	<img src="/staff/images/{{el.meta}}/{{question.id}}/{{language.id}}/{{vnode.version}}/" onclick="enlarge(this);">{# TODO: The URL to the images will probably be a bit different! #}
	{% endif %}
{% endfor %}
{% endfor %}
</div>

<div id="answers">
{% for q in struct %}
{% for el in q.data %}
	{% if el.tag == "task" %}
	<p>{{el.data}}</p>
	{% endif %}
{% endfor %}
{% endfor %}

<table>
<form action="" method="POST" autocomplete="off">
<tr>
	<th></th>
	{% for q in struct %}
	{% for el in q.data %}
	{% if el.tag == "answerlist" %}
	{% for sub in el.data %}
	{% if sub.tag == "answersplit" %}
	<th><p>{{sub.data}}</p></th>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endfor %}
	{% endfor %}
</tr>

{% for q in struct %}
{% for el in q.data %}
{% if el.tag == "answerlist" %}
{% for sub in el.data %}
	{% if sub.tag == "choice" %}
	<tr>
	<td><p>{{sub.data}}</p></td>
	<td>
	<input autocomplete="off" type="radio" id="i{{sub.id}}t" name="n{{sub.id}}" value="true" {%for a in answers %}{% if forloop.parentloop.counter == a.0 %}{%if a.1 %}checked{%endif%}{%endif%}{%endfor%} onclick="save_answer({{eq.id}},{{forloop.counter}},'n{{sub.id}}')" >
		<label for="i{{sub.id}}t" class="true"><div></div></label>
	</td>
	<td>
	<input autocomplete="off" type="radio" id="i{{sub.id}}f" name="n{{sub.id}}" value="false" {%for a in answers %}{% if forloop.parentloop.counter == a.0 %}{%if a.1|is_false %}checked{%endif%}{%endif%}{%endfor%} onclick="save_answer({{eq.id}},{{forloop.counter}},'n{{sub.id}}')">
		<label for="i{{sub.id}}f" class="false"><div></div></label>
	</td>
	</tr>
	{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}

{# TODO: flagging #}
</form>
</table>
	<div id="answerbar">
		{% if pos|add:'-1' > 0 %}
		<a href="/students/question/{{lang_id}}/{{exam_id}}/{{pos|add:'-1'}}" class="prev"></a>
		{% endif %}
		<input autocomplete="off" type="checkbox" id="id_flag" name="id_flag" {%if flag %}checked{% endif %} onclick="submit_flag({{eq.id}},{{user.id}});"><label for="id_flag" title="Flag for attention" ></label>
		{% if pos < num_questions %}
		<a href="/students/question/{{lang_id}}/{{exam_id}}/{{pos|add:'1'}}" class="next"></a>
		{% endif %}
	</div>
</div>
{% endblock %}

