{% extends "students_base.html" %}

{% block header %}
{% endblock %}

{% block main %}
<div id="overview">

<div class="login" style="border: 2px solid #ddd; margin: 10em; text-align: center; padding: 2em 1em; background: #eee;">
<form method="post" action="">
<p>To start your exam, enter your personal student code and date of birth.</p>
<p style="color: #f00;">{{form.error}}</p>
<p style="border: 1px solid #ddd; padding: 1em; width: 50%; margin: 1em auto;">
	<strong>Student code:</strong> <input type="text" id="studentcode" name="studentcode" value=""><br>
	<strong>Date of birth (D/M/Y):</strong> <input type="text" id="D" name="D" size="2"> <input type="text" id="M" name="M" size="2"> <input type="text" id="Y" name="Y" size="4"><br>
	<input type="submit" value="Start Exam" style="font-size: 125%; padding: 1em;">
</p>
</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
